#presentation{
    background-attachment: fixed;
}

#about img{
    height: 23rem;
}

@media only screen and (max-width: 600px) {
    #presentation{
        height: auto;
    }

    #about img{
        height: 12rem;
    }
}