body {
    background-color: #F8FAFB;
}

h1, h2, h3 {
    font-family: 'Comfortaa', cursive;
}

ul {
    font-family: 'Montserrat Alternates', sans-serif;
}

nav a, i {
    font-size: 1.5rem;
}

footer {
    background-color: #262930;
}

footer ul {
    list-style: none;
}

.transition-site {
    background: linear-gradient(-225deg, #53BA4B 100%, #92CD52 100%, #B6D857 100%);
    color: white;
    overflow: hidden;
    transition: 1s all ease;
}

.transition-site::before {
    background: #262930;
    color: white;
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.transition-site:hover {
    background: #353842;
    color: white;
}

.rounded-circle {
    width: 3rem;
    height: 3rem;
}

.size-page {
    height: 100vh;
    width: 100%;
}

.carousel-item {
    height: 100vh;
    background-attachment: fixed;
}

.col-inner {
    width: 100%;
}

.text-site {
    background: -webkit-linear-gradient(#53BA4B, #92CD52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-site {
    background: linear-gradient(-225deg, #53BA4B 100%, #92CD52 100%, #B6D857 100%);
}

.text-pink-site {
    background: -webkit-linear-gradient(#BB5E7E, #C27490);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-pink-site {
    background: linear-gradient(-225deg, #BB5E7E 100%, #C27490 100%, #C06F8C 100%);
}

.bg-white-site {
    background-color: #F8FAFB;
}

.nav-link-site:link, .nav-link-site:visited {
    color: #F8FAFB;
}

.nav-link-site:hover {
    background: -webkit-linear-gradient(#53BA4B, #92CD52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link-site:active {
    color: #F8FAFB;
}

.nav-link-site-active:link, .nav-link-site-active:visited {
    background: -webkit-linear-gradient(#53BA4B, #92CD52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link-site-active:hover {
    background: -webkit-linear-gradient(#53BA4B, #92CD52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link-site-active:active {
    background: -webkit-linear-gradient(#53BA4B, #92CD52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-toggler:link, .navbar-toggler:visited {
    background: transparent;
}

.navbar-toggler:active {
    background: #262930;
}

.levitate {
    position: relative;
    top: 0;
    transition: all .2s ease-in-out
}

.levitate:hover {
    top: -4px;
    box-shadow: 0 8px 20px #999
}

#perfil img {
    width: 8rem;
    height: 14rem;
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@media only screen and (max-width: 600px) {
    #perfil img {
        width: 5rem;
        height: 8rem;
    }
    .size-page {
        height: 600px;
        width: 100%;
    }
}