#presentation {
    background-attachment: fixed;
    background-size: 96rem 46rem;
    background-repeat: no-repeat;
}

#about a {
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    #presentation {
        background-size: inherit;
        background-repeat: no-repeat;
        height: 100vh;
    }
    #about img {
        height: 25rem;
    }
}