#presentation{
    background-image: url(../images/novo_experimento.png);
    background-attachment: fixed;
    background-size: 100rem 50rem;
}

#about a {
    font-size: 1rem;
}

/* Hover Zoom */


@font-face {
    font-family: "ananda";
    src: url(Ananda.ttf);
}

@media only screen and (max-width: 600px) {

    #presentation{
        height: auto;
    }

    #about img {
        height: 25rem;
    }
}